<h4>String Interpolation</h4>
{{ string }} {{ number }}
<hr />

<h4>Property Binding</h4>
<p [innerText]="firstName + ' ' + lastName"></p>
<div>
  <label>Your favorite number: </label>
  <input type="number" [value]="number" />
</div>
<div
  [ngClass]="{ 'blue-border': attachClass }"
  [ngStyle]="{ 'background-color': backgroundColor }"
>
  Text
</div>
<app-property-binding [name]="'Levin'"></app-property-binding>
<hr />

<h4>Event Binding</h4>
<button (click)="onClick($event)">Klick mich</button>
<app-event-binding (clicked)="string = $event"></app-event-binding>
<hr />

<h4>Two-Way-Binding</h4>
<input type="text" [(ngModel)]="string" />
