<div>
  <input type="text" #input />
  <div class="ms-2 btn-group">
    <button (click)="onLog(input.value)" class="btn btn-outline-primary">
      Log
    </button>
    <button (click)="onStore(input.value)" class="btn btn-outline-primary">
      Store
    </button>
    <button (click)="onSend(input.value)" class="btn btn-outline-primary">
      Send
    </button>
  </div>
</div>
<hr />
<div>
  <button (click)="onGet()" class="btn btn-primary">Refresh Storage</button>
  <h3 class="mt-3">Storage</h3>
  <ul>
    <li *ngFor="let item of items">{{ item }}</li>
  </ul>
  <h3 class="mt-3">Received Value</h3>
  <p>{{ value }}</p>
</div>
